@import url(./_reg/popup__switch_reg.css);
@import url(./_signin/popup__switch_signin.css);

.popup__switch {
  font-family: 'Inter', 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  align-self: center;
  color: #2f72e5;
  /* margin-left:auto;
  margin-right:auto; */
  margin-bottom: 0;

  /* display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center; */

}
