@import url(./_visible/header__authorization_visible.css);
@import url(./_mobile/header__authorization_mobile.css);

.header__authorization {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Roboto', 'inter' ;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  width: 176px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
};


@media screen and (min-width: 1440px) {
  .header__authorization {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .header__authorization {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__authorization {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__authorization {
    font-size: 16px;
  }
}


@media screen and (min-width: 375px) and (max-width: 767px) {
  .header__authorization {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .header__authorization {
    font-size: 18px;
  }
}
