.card__keyword {
  border: none;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (min-width: 1440px) {
  .card__keyword {
    max-width: 288px;
    width: auto;
    top: 24px;
    left: 24px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .card__keyword {
    top: 24px;
    left: 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card__keyword {
    top: 24px;
    left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card__keyword {
    max-width: 120px;
    width: auto;
    margin: 0;
    top: 8px;
    left: 8px;
  }
}


@media screen and (min-width: 375px) and (max-width: 767px) {
  .card__keyword {
    top: 16px;
    left: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .card__keyword {
    top: 16px;
    left: 16px;
  }
}
