.card__icon-bookmark.card__icon-bookmark_login svg path {
    fill: #2f71e5;
    stroke: #2f71e5;
  }

  .card__icon-bookmark.card__icon-bookmark_login svg:hover path {
    fill: #2f71e5;
    stroke: #2f71e5;
    stroke-width: 1;
  }